@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Secular+One&display=swap');

/* 
  для логотипа 
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;

  для текста
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  для заголовков
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;

  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
*/

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/* HEADER */
.header {
  display: grid;
  grid-template: ". logo nav search" max-content / 2fr 1fr 2.5fr 0.5fr;
  align-items: center;
  justify-items: start;
  padding: 20px 0;
  text-transform: uppercase;
  overflow: hidden;
}

.logo {
  grid-area: logo;
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  color: #eb564f;
  font-size: 24px;
  width: 150px;
  line-height: 1;
  transition: color 0.3s;
}

.header__nav {
  grid-area: nav;
  transform: translateX(-15px);
}

.header__nav ul {
  display: flex;
  gap: 10px;
}

.header__nav a {
  padding: 15px;
  transition: color 0.2s;
  position: relative;
  display: inline-block;
}

.header__nav a:hover, .logo:hover {
  color: #54b9b4;
}

.header__nav a:active {
  color: #44a7a2;
}

.header__nav a::after {
  content: "";
  display: block;
  width: 80%;
  height: 100%;
  background-color: #54b9b4;
  position: absolute;
  left: 15px;
  bottom: -200%;
  transition: bottom 0.5s, background-color 0.2s;
}

.header__nav a:hover::after {
  bottom: -80%;
}

.header__nav a:active::after {
  background-color: #44a7a2;
}

.search {
  grid-area: search;
}

.search__icon {
  transition: fill 0.2s;
}

.search__icon:hover {
  fill: #54b9b4;
}

.search__icon:active {
  fill: #44a7a2;
}

/* MAIN */
.main {
  display: grid;
  grid-template-rows: 3fr 1fr 3fr;
  grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
  grid-template-areas:  "slider-arrows healthy thirsty thirsty"
                        "slider-arrows healthy slider-dots orange"
                        "freshy healthy slider-dots orange";
}

/* SLIDER ARROWS */
.slider-arrows {
  grid-area: slider-arrows;
  position: relative;
}

.slider-arrows__items-wrapper {
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  display: flex;
}

.slider-arrows__nav {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-50%);
}

.slider-arrows__arrow {
  color: white;
  font-size: 30px;
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 0.2s opacity;
}

.slider-arrows__arrow:hover {
  opacity: 0.8;
}

.slider-arrows__arrow:active {
  opacity: 0.6;
}

.btn {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 16px;
  transition: 0.2s opacity;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.6;
}

/* SLIDER DOTS */

.slider-dots {
  grid-area: slider-dots;
  position: relative;
}

.slider-dots__item {
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  display: flex;
}

.slider-dots__btn-wrapper {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider-dots__nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 0;
  bottom: 30px;
}

.slider-dots__nav-item {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  transition: 0.2s opacity;
}

.slider-dots__nav-item:hover {
  opacity: 0.8;
}

.slider-dots__nav-item:active {
  opacity: 0.6;
}

.slider-dots__nav-item--active {
  background-color: transparent;
  border: 2px solid white;
}

/* FRESHY */
.freshy {
  grid-area: freshy;
  background-color: #bee163;
}

.common {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 24px;
  width: 140px;
  font-weight: 300;
  line-height: 1;
}

.title span {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 2px;
  display: block;
}

.title span::first-line {
  font-weight: 900;
}

.common__desc {
  max-width: 60%;
  hyphens: auto;
}

.healthy {
  grid-area: healthy;
  background-color: #ff494b;
  padding-bottom: 85px;
}

.common--col-rev {
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.common--col-rev .common__desc {
  max-width: 140px;
}

.thirsty {
  grid-area: thirsty;
  background-color: #ffba4a;
}

.common--row-rev {
  flex-direction: row-reverse;
}

.common--row-rev .common__desc {
  text-align: right;
}

.thirsty .common__desc {
  max-width: 200px;
}

.orange {
  grid-area: orange;
  position: relative;
}

.orange img {
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}

.orange__btn-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange__arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.orange__arrow:hover {
  opacity: 0.8;
}

.orange__arrow:active {
  opacity: 0.6;
}