@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Secular+One&display=swap');

/* 
  для логотипа 
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;

  для текста
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  для заголовков
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;

  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
*/

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/* HEADER */
.header {
  display: grid;
  grid-template: "logo nav search" max-content / 1fr 1fr 100px;
  align-items: center;
  justify-items: start;
  padding: 20px 0;
  text-transform: uppercase;
  overflow: hidden;
}

.logo {
  grid-area: logo;
  justify-self: end;
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  color: #eb564f;
  font-size: 24px;
  width: 150px;
  line-height: 1;
  transition: color 0.3s;
}

.header__nav {
  grid-area: nav;
}

.header__nav ul {
  display: flex;
  gap: 10px;
}

.header__nav a {
  padding: 15px;
  transition: color 0.2s;
  position: relative;
  display: inline-block;
}

.header__nav a:hover, .logo:hover {
  color: #54b9b4;
}

.header__nav a:active {
  color: #44a7a2;
}

.header__nav a::after {
  content: "";
  display: block;
  width: 80%;
  height: 100%;
  background-color: #54b9b4;
  position: absolute;
  left: 15px;
  bottom: -200%;
  transition: bottom 0.5s, background-color 0.2s;
}

.header__nav a:hover::after {
  bottom: -80%;
}

.header__nav a:active::after {
  background-color: #44a7a2;
}

.search {
  grid-area: search;
}

.search__icon {
  transition: fill 0.2s;
}

.search__icon:hover {
  fill: #54b9b4;
}

.search__icon:active {
  fill: #44a7a2;
}